/* IRANSans fonts are used in this project under the license: ..... */

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/roboto-r.eot");
    src: url("../fonts/roboto-r.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-r.woff2") format("woff2"), url("../fonts/roboto-r.woff") format("woff"), url("../fonts/roboto-r.ttf") format("truetype"), url("../fonts/roboto-r.svg#roboto") format("svg");
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/roboto-b.eot");
    src: url("../fonts/roboto-b.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-b.woff2") format("woff2"), url("../fonts/roboto-b.woff") format("woff"), url("../fonts/roboto-b.ttf") format("truetype"), url("../fonts/roboto-b.svg#roboto") format("svg");
}

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icons/ivahid.eot?pu1ije");
    src: url("../fonts/icons/ivahid.eot?pu1ije#iefix") format("embedded-opentype"), url("../fonts/icons/ivahid.ttf?pu1ije") format("truetype"), url("../fonts/icons/ivahid.woff?pu1ije") format("woff"), url("../fonts/icons/ivahid.svg?pu1ije#ivahid") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icons/arad.eot?pu1ije");
    src: url("../fonts/icons/arad.eot?pu1ije#iefix") format("embedded-opentype"), url("../fonts/icons/arad.ttf?pu1ije") format("truetype"), url("../fonts/icons/arad.woff?pu1ije") format("woff"), url("../fonts/icons/arad.svg?pu1ije#arad") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-twitter:before {
    content: "\e906";
  }
  .icon-google-plus:before {
    content: "\e907";
  }
  .icon-cross-out:before {
    content: "\e905";
  }
  .icon-menu:before {
    content: "\e904";
    color: #a0a0a4;
  }
  .icon-facebook-logo:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-telegram:before {
    content: "\e902";
  }
  .icon-layers:before {
    content: "\e903";
    color: #707070;
  }
  